[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/glad"]
	path = External/glad
	url = https://github.com/Guo-Haowei/glad.git
[submodule "External/assimp"]
	path = External/assimp
	url = https://github.com/assimp/assimp.git
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm.git
[submodule "External/lua"]
	path = External/lua
	url = https://github.com/lua/lua.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/fmt"]
	path = External/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "External/doctest"]
	path = External/doctest
	url = https://github.com/doctest/doctest.git
[submodule "External/ImGuizmo"]
	path = External/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
